<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>找回密码</title>
	<aaa th:replace="~{commons::#head-commons}"></aaa>
</head>

<body>
	<main class="bg-grey" style="background-image: url(images/bg-2.png);">
		<div class="d-flex align-items-center mx-auto login-form">
			<div class="container">
				<div class="card">
					<div class="card-body p-5">
						<form>
							<h3 class="title-text mb-4"><b>找回密码</b></h3>
							<p class="mb-4">输入您的电子邮件地址以找回密码。</p>
							<div class="input-group mb-3">
			              		<i class="ti-email"></i>
			                	<input class="form-control form-control-lg" id="password" type="password" placeholder="电子邮箱" required="">
			              	</div>
			              	<button class="btn btn-block btn-lg btn-primary mt-2" type="submit"><b>点击找回</b></button>
			            </form>
					</div>
				</div>
			</div>			
		</div>
	</main>
	<div th:replace="~{commons::#common-script}"></div>
</body>

</html>
